html {
  box-sizing: border-box;
}

body {
  background-color: grey;
  background-image: radial-gradient(grey,black);
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* NAVBAR */
.navbar {
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar li a {
  display: inline-block;
  margin-right: 30px;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
}

.navbar li {
  display: inline-block;
}

.navbar ul {
  text-align: right;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.split {
  float: left;
  color: goldenrod;
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
}
/* END NAVBAR */

/* HEADER */
.header{
  margin: 350px;
}

h1 {
  text-align: center;
  font-size: 125px;
  color: goldenrod;
}

h2 {
  text-align: center;
  font-size: 75px;
  color: whitesmoke;
}

.skills{
  color: goldenrod;
  text-align: center;
  font-size: 50px;
}
/* END OF HEADER */

/* ABOUT ME */
.about {
  margin-left: 300px;
  margin-right: 300px;
  background-color: black;
  border: 3px solid whitesmoke;
  border-radius: 25px;
  h2 {
    font-size: 60px;
    color: goldenrod;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 30px;
    color: whitesmoke;
    margin: 30px;
  }
}

.exp {
  background-color: whitesmoke;
  margin: 0;
  margin-top: 25px;
  padding: 10px;
  h2 {
    color: goldenrod;
    font-size: 60px;
  }
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

.column a {
  text-decoration: none;
  color: goldenrod;
  font-size: 30px;
  margin: 200px;
}

.column a:hover {
  background-color: #ddd;
  color: black;
}
/* END OF ABOUT ME */ 

/* PROJECTS */
.project {
  background-color: black;
  margin: 0;
  padding: 10px;
  padding-bottom: 50px;
  h2 {
    color: goldenrod;
    font-size: 60px;
  }
  p {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin: 30px;
    a {
      text-decoration: none;
      color: goldenrod;
    }
    a:hover {
      background-color: gainsboro;
      color: black;
    }
  }
}

.column2 {
  display: inline-block;
  width: 23.5%;
  margin-bottom: 16px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  p {
    color: goldenrod;
    text-align: center;
  }
}
/* END OF PROJECTS */

/* CONTACTS */
.contact {
  background-color: white;
  margin: 0;
  padding: 10px;
  padding-bottom: 50px;
  h2 {
    color: goldenrod;
    font-size: 60px;
  }
}

.text-container {
  color: black;
  font-size: 25px;
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    background-color: goldenrod;
    color: black;
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: goldenrod;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.form-container {
  border: 3px solid goldenrod;
  border-radius: 5px;
  background-color: grey;
  background-image: radial-gradient(white,grey);
  padding: 50px;
  margin-right: 300px;
  margin-left: 300px;
}
/* END OF CONTACTS */

/* FOOTER */
footer {
  background-color: black;
  padding: 20px;
  p {
    text-align: right;
    color: goldenrod;
  }
}
/* END OF FOOTER */